# V6系統:betの金額をprobaをもとに可変する
## V6_1:アルゴリズム:randomforest

In [36]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from matplotlib import pyplot as plt
import seaborn
from pandas import DataFrame
from tqdm import tqdm
from imblearn.under_sampling import RandomUnderSampler #アンダーサンプリング用
from sklearn.model_selection import train_test_split
import pickle
# 機械学習用
from sklearn.cluster import KMeans #クラスタリング用
from sklearn.ensemble import RandomForestClassifier#ランダムフォレスト
from copy import deepcopy as cp
from sklearn.linear_model import LogisticRegression
import time
import datetime
from dateutil.relativedelta import relativedelta
import os #ディレクトリ作成用
import xgboost as xgb
import sys
import warnings
#自作のモジュールのインポート
sys.path.append("../..")
import module.master as master
import module.modeling_scores as modeling

### モデルのスコア保存のための箱作り

In [2]:
version='V6_1'#バージョン

place_master=master.get_place_master()
for place in place_master.items():
    #print(place[0],place[1],'\n')
    place_name=place[1]
    dir_path = "../../../bot_database/{place_name}/model_score_{place_name}/".format(place_name=place_name)#作成したデータの書き込み先#使用するデータの読み込み
    if os.path.exists(dir_path)==False:
        os.makedirs(dir_path)
    else:
        pass


#V6_系列の特殊処理
for place in place_master.items():
    #print(place[0],place[1],'\n')
    place_name=place[1]
    dir_path = "../../../bot_database/{place_name}/model_score_{place_name}/v6_score/{version}/".format(place_name=place_name,version=version)#作成したデータの書き込み先#使用するデータの読み込み
    if os.path.exists(dir_path)==False:
        os.makedirs(dir_path)
    else:
        pass

## 実行する関数内で使用されている関数

In [ ]:
def get_event_info(result_base_df):
    df=result_base_df.copy()
    df['date']=pd.to_datetime(df['date'])#日付が文字列なのでdateを日付型に変換
    df['year']=df['date'].dt.year
    df['month']=df['date'].dt.month
    df['day']=df['date'].dt.day

    num_date=1
    num_date_arr=[]
    last_race_date=df['date'].values[0]#前レースの日付(処理開始時用にtarainのデータの一番初めのdateを仮に入力しておく)
    for index,row in df.iterrows():
        today_date=row['date']
        if today_date==last_race_date:#同じ日のレースだったらおなじレース日を配列に追加、次の日の日付を出力（ほぼ無操作みたいなもん）
            next_date=row['date'] + datetime.timedelta(days=1)#次の日
            num_date_arr.append(num_date)
        else:#日にちが変わった時
            if today_date==next_date:#想定していた日付（次の日のレース）だったら,レース日を一日足して、そのレース日番号を加算
                num_date+=1
                num_date_arr.append(num_date)
                last_race_date=row['date']#前回レース日を上書き
                #next_date=train_df[train_df['date']==row['date'] + datetime.timedelta(days=1)]#次の日
                next_date=row['date'] + datetime.timedelta(days=1)#次の日
                #print(next_date)
            else:#想定していた日付でない(違う大会になった)場合はレース日をリセット
                num_date=1
                num_date_arr.append(num_date)
                last_race_date=row['date']#前回レース日を上書き
                #next_date=train_df[train_df['date']==row['date'] + datetime.timedelta(days=1)]#次の日
                next_date=row['date'] + datetime.timedelta(days=1)#次の日
    df['num_date']=num_date_arr

    range_races=0#大会中の取得できたレースの数
    range_date=1#大会の開催日数
    range_date_arr=[]
    range_date_arr_2=[]#for文中で繰り返し上書きさせる用の配列
    last_race_date=df['date'].values[0]#前レースの日付(処理開始時用にtrainのデータの一番初めのdateを仮に入力しておく)
    for index,row in df.iterrows():
        today_date=row['date']
        if today_date==last_race_date:#同じ日のレースだったらおなじレース日を配列に追加、次の日の日付を出力（ほぼ無操作みたいなもん）
            range_races+=1
            next_date=row['date'] + datetime.timedelta(days=1)#次の日
            #num_date_arr.append(num_date)
        else:#日にちが変わった時
            if today_date==next_date:#想定していた日付（次の日のレース）だったら,レース日を一日足して終了
                range_date+=1
                range_races+=1
                last_race_date=row['date']#前回レース日を上書き
                #next_date=train_df[train_df['date']==row['date'] + datetime.timedelta(days=1)]#次の日
                next_date=row['date'] + datetime.timedelta(days=1)#次の日次の日
            else:#想定していた日付でない(違う大会になった)場合は現在のrange_dateをもとに前の大会のレースに大会開催日数を持たせる。

                range_date_arr_2=[range_date]*range_races
                for num in range_date_arr_2:
                    range_date_arr.append(num)
                range_races=1#大会中の取得できたレースの数
                range_date=1#大会の開催日数
                last_race_date=row['date']#前回レース日を上書き
                #next_date=train_df[train_df['date']==row['date'] + datetime.timedelta(days=1)]#次の日
                next_date=row['date'] + datetime.timedelta(days=1)#次の日
    range_date_arr_2=[range_date]*range_races#最後の日は日付の変わり絵が発生しないので特別処理
    for num in range_date_arr_2:
        range_date_arr.append(num)
    df['range_date']=range_date_arr

    #四半期カラムの作成
    df['season']=df['month']
    df['season']=df['season'].replace([3,4,5],'sp')#春
    df['season']=df['season'].replace([6,7,8],'su')#夏
    df['season']=df['season'].replace([9,10,11],'au')#秋
    df['season']=df['season'].replace([12,1,2],'wi')#冬
    #df=df.drop('date',axis=1)
    return df

def pred_th_trans(pred_df,th):
    #引数として予測結果のdeと、変換したい閾値を渡す。
    trans_df=pred_df.copy()
    trans_df.loc[trans_df['pred_proba'] >= th, 'pred'] = 1
    trans_df.loc[~(trans_df['pred_proba']  >=  th), 'pred'] = 0
    return trans_df

def calc_monthly_analysis(pred_df):#予測に加えて，配当，開催情報が結合されたdfを渡すことで月ごと関連の分析を行ってくれる関数
    cols=['month','use','get','income','income_per','num_hit','buy_hit_per','mean_income','median_income']
    monthly_analysis_df= pd.DataFrame(columns=cols)#月別収益結果の入る箱
    months=pred_df['month'].value_counts(sort=False).index
    for month in months:
        monthly_df=pred_df[pred_df['month']==month].copy()
        use_m=100*monthly_df['pred'].sum()
        get_m=monthly_df['gain'].sum()
        income=get_m-use_m
        income_per=(get_m/use_m)*100
        
        
        num_hit=monthly_df['hit_flag'].sum()
        num_pred=pred_df['pred'].sum()
        buy_hit_per=(num_hit/num_pred)*100
        if num_hit==0:#警告文削除用
            mean_income=0
            median_income=0
        else:
            mean_income=monthly_df[monthly_df['hit_flag']==1]["gain"].mean()#１回の的中あたりの平均配当
            median_income=monthly_df[monthly_df['hit_flag']==1]["gain"].median()#１回の的中あたりの中央配当
        
        append_arr=[month,use_m,get_m,income,income_per,num_hit,buy_hit_per,mean_income,median_income]
        append_s=pd.Series(append_arr,index=cols)
        monthly_analysis_df=monthly_analysis_df.append(append_s, ignore_index=True)
    return monthly_analysis_df

def get_season_date(now_date):#日付(datetime型)を渡すと，その日付で購買予測を行う際に使用するデータの区間を返す関数
    use_data_year=now_date.year
    if (now_date.month>=1)and(now_date.month<4):
        use_data_month=1
    elif (now_date.month>=4)and(now_date.month<7):
        use_data_month=4
    elif (now_date.month>=7)and(now_date.month<10):
        use_data_month=7
    elif (now_date.month>=10):
        use_data_month=10
    else:
        print('what???????')
    use_data_date=datetime.datetime(year=use_data_year, month=use_data_month,day=1)
    return use_data_date

## 実行する関数

In [41]:
#dateのカラムを年だけに変換するやつ
def trans_date_type(df):
    df['date']=pd.to_datetime(df['date'])#日付が文字列なのでdateを日付型に変換
    df['year']=df['date'].dt.year
    df=df.drop('date',axis=1)
    return df
def data_making_mo_bo(df):#クラスタリングなし、ボート、艇番号あり
    warnings.simplefilter('ignore',  category=pd.errors.PerformanceWarning)#解決できない警告は無視
    result_df=df
    result_df=result_df.drop(["racer_1_ID","racer_2_ID","racer_3_ID","racer_4_ID","racer_5_ID","racer_6_ID",],axis=1)#IDはいらないので削除
    result_df=result_df.replace(0.0000,{"racer_1_ave_st_time":0.22})#新人のave_st_timeを0.22に
    result_df=result_df.replace(0.0000,{"racer_2_ave_st_time":0.22})
    result_df=result_df.replace(0.0000,{"racer_3_ave_st_time":0.22})
    result_df=result_df.replace(0.0000,{"racer_4_ave_st_time":0.22})
    result_df=result_df.replace(0.0000,{"racer_5_ave_st_time":0.22})
    result_df=result_df.replace(0.0000,{"racer_6_ave_st_time":0.22})
    result_df=result_df.replace(0.0000,{"racer_1_doub_win":0.02})#新人の着に絡む確率ave_st_timeを0.02に(新人の半期の偏差から導出)
    result_df=result_df.replace(0.0000,{"racer_2_doub_win":0.02})
    result_df=result_df.replace(0.0000,{"racer_3_doub_win":0.02})
    result_df=result_df.replace(0.0000,{"racer_4_doub_win":0.02})
    result_df=result_df.replace(0.0000,{"racer_5_doub_win":0.02})
    result_df=result_df.replace(0.0000,{"racer_6_doub_win":0.02})
    #ダミー変数化
    result_df_dummie=result_df
    race_dummie_df=pd.get_dummies(result_df_dummie['number_race'])#number_raceをダミー化
    for column, val in race_dummie_df.iteritems():
        result_df_dummie['race_{}'.format(int(column))]=val
    result_df_dummie=result_df_dummie.drop('number_race',axis=1)

    cols=list(result_df_dummie.columns)
    male_cols=[s for s in cols if 'male' in s]#性別を示すカラムを取り出す

    #===========================新規、性別の取り出し機能が良くなかったため作り直す
    empty_arr=[0]*len(result_df_dummie)
    for col in male_cols:
        for number in np.arange(0,2,1):
              result_df_dummie['{}_{}'.format(col,int(number))]=empty_arr
        male_dummie_df=pd.get_dummies(result_df_dummie[col])#性別をダミー化
        for column, val in male_dummie_df.iteritems():
              result_df_dummie['{}_{}'.format(col,int(column))]=val
        result_df_dummie=result_df_dummie.drop('{}'.format(col),axis=1)

    cols=list(result_df_dummie.columns)
    moter_cols=[s for s in cols if '_mo' in s]#モーター番号を示すカラムを取り出す
    boat_cols=[s for s in cols if '_bo' in s]#ボート番号を示すカラムを取り出す
    #boat もmoterも番号は1~99とする
    numbers=np.arange(1, 100, 1)
    empty_arr=[0]*len(result_df_dummie)
    for col in moter_cols:
        for number in numbers:
              result_df_dummie['{}_{}'.format(col,int(number))]=empty_arr
        moter_dummie_df=pd.get_dummies(result_df_dummie[col])#モータ番号をダミー化
        for column, val in moter_dummie_df.iteritems():
              result_df_dummie['{}_{}'.format(col,int(column))]=val
        result_df_dummie=result_df_dummie.drop('{}'.format(col),axis=1)

    #boat番号をダミー化
    for col in boat_cols:
        for number in numbers:
              result_df_dummie['{}_{}'.format(col,int(number))]=empty_arr
        boat_dummie_df=pd.get_dummies(result_df_dummie[col])#boat番号をダミー化
        for column, val in boat_dummie_df.iteritems():
              result_df_dummie['{}_{}'.format(col,int(column))]=val
        result_df_dummie=result_df_dummie.drop('{}'.format(col),axis=1)
    clustar_target_df=result_df_dummie
    clustaring_df=clustar_target_df
    model_df=clustaring_df
    model_df=trans_date_type(model_df)
    return model_df


def model_score_proba_RondomForest_has_final(version,place_name,result_df,target_year):#probaをもとに購買金額を可変する・アルゴリズムにrondomforestを用いている(本来であれば購買を行う区間であるfinalあり版，実際のモデル保存用とは別もの)
    print(place_name)
    #3年間で行う（test:2年前,test2:昨年,final:今年（本来であればここが実購買区間にあたる，テスト時（has_final）のみ存在））
    #target_year:実際に購買を行う区間を指定（has_final版ではここは仮定の年となる），これをもとにtest1,test2はそれぞれ-1,-2年されて区間が決定する
    #result_dfは加工関数にて分けられたものを渡す。
    model_score_df=pd.DataFrame(columns=['target_com','depth','target_per','threshold','total_get_test', 'total_use_test','num_com_test','num_pred_test','gain_test','gain_std_test','num_hit_test','buy_hit_per_test','buy_hit_per_std_test','plus_month_num_test','diff_mea_med_test'])#スコアを格納するdf

    #学習データの切り分け
    #年，月，日とかの取得
    #result_df['date']=pd.to_datetime(result_df['date'])#日付が文字列なのでdateを日付型に変換
    #result_df['year']=result_df['date'].dt.year
    test1_year=target_year-2
    test2_year=target_year-1
    final_year=target_year
    
    result_df=result_df[result_df['year']<=target_year].copy()#先の年は削除する
    test1_df = result_df[result_df['year']==test1_year].copy()#指標算出用のテストデータ
    test2_df = result_df[result_df['year']==test2_year].copy()#指標算出用のテストデータ
    final_df = result_df[result_df['year']==target_year].copy()#実購買予定区間テストデータ
    train_df = result_df[(result_df['year']<test1_year)].copy()#そのほかを学習データに
    #学習データを切り分けたらyear,dateはいらないから削除する
    final_df=final_df.drop(['year'],axis=1)
    test1_df=test1_df.drop(['year'],axis=1)
    test2_df=test2_df.drop(['year'],axis=1)
    train_df=train_df.drop(['year'],axis=1)
    
    train_money=train_df['money'].values
    test1_money=test1_df['money'].values
    test2_money=test2_df['money'].values
    final_money=final_df['money'].values
    #final_test_gain_arr=final_test_money.values
    #x,yへの切り分け
    #出現数の分布
    result_com_s=train_df['result_com'].value_counts()
    result_com_s=result_com_s.sort_index()
    target_result_coms=result_com_s.index[0:28]#探索的に探すにも最後のほうは役にモデルなのはわかっているため
    for result_com_number in tqdm(target_result_coms):
        #print(result_com_number)
        result_com=result_com_number
        #学習データのラベル変換==========================================================
        result_train_df=train_df.copy()
        result_arr=[0]*len(result_train_df)
        i=0
        for result in result_train_df['result_com']:
            if ((result==result_com)):
                result_arr[i]=1
            else:
                result_arr[i]=0
            i+=1
        result_train_df['result_com']=result_arr
        #========================================
        target_test1_df=test1_df.copy()
        result_arr=[0]*len(target_test1_df)
        i=0
        for result in target_test1_df['result_com']:
            if ((result==result_com)):
                result_arr[i]=1
            else:
                result_arr[i]=0
            i+=1
        target_test1_df['result_com']=result_arr
        #========================================
        target_test2_df=test2_df.copy()
        result_arr=[0]*len(target_test2_df)
        i=0
        for result in target_test2_df['result_com']:
            if ((result==result_com)):
                result_arr[i]=1
            else:
                result_arr[i]=0
            i+=1
        target_test2_df['result_com']=result_arr
        #========================================
        target_final_df=final_df.copy()
        result_arr=[0]*len(target_final_df)
        i=0
        for result in target_final_df['result_com']:
            if ((result==result_com)):
                result_arr[i]=1
            else:
                result_arr[i]=0
            i+=1
        target_final_df['result_com']=result_arr
        #========================================
        result_train_df['money']=train_money
        target_test1_df['money']=test1_money
        target_test2_df['money']=test2_money
        target_final_df['money']=final_money
        #学習データラベル変換終わり============================================

        for_arr=np.arange(1,85)
        #for_arr=np.arange(1,100,1)
        accuracy_arr=[0]*len(for_arr)
        target_per_arr=[0]*len(for_arr)
        pred_0=[0]*len(for_arr)
        gain_arr=[0]*len(for_arr)
        model_gain_arr=[0]*len(target_test_df)
        #depths_arr=[4,5,6,7,8]
        #depths_arr=[5,6,8]
        depths_arr=[5,7]
#         for depth in depths_arr:
#             for sum_target_per in for_arr:

#                 index=sum_target_per-1
#                 #target_per=50+sum_target_per
#                 target_per=80+(sum_target_per)
#                 target_per_arr[index]=target_per

#                 #モデルの評価指標値を格納するseries======================
#                 #final区間がない用のseries
#                 model_score_s=pd.Series(index=['target_com','depth','target_per','threshold','total_get_test', 'total_use_test','num_com_test','num_pred_test','gain_test','gain_std_test','num_hit_test','buy_hit_per_test','buy_hit_per_std_test','plus_month_num_test','diff_mea_med_test'], dtype='float64')
#                 model_score_s['target_com']=result_com#目標としているresult_comラベル番号
#                 model_score_s['depth']=depth#ハイパーパラメータ＿木の深さ
#                 model_score_s['target_per']=target_per#学習データ_1に対してどの程度の0のデータを持たせるか。
#                 #======================
#                 #trainの[0]に対して、target_perの割合の量[1]を持った学習データの作成
#                 # 一層目の判別機のtrainデータ　:terget_result_df
#                 target_df=result_train_df#ベースのデータフレームをコピー
#                 target_df=target_df.sample(frac=1, random_state=7)#シャッフル、時系列の偏りを無くす
#                 target_1_df=target_df[target_df['result_com']==1]
#                 len_1=len(target_1_df)
#                 target_0_df=target_df[target_df['result_com']==0]
#                 len_0=len(target_0_df)
#                 target_0_df=target_0_df.iloc[(len_0-int(len_1*(target_per/100))):len_0]#1に対する目標の割合ぶん0の結果だったレースを抽出（後ろから抽出）
#                 target_train_df=pd.concat([target_1_df, target_0_df])
#                 #学習＆予測ぱーと========================================================================
#                 #==========================================================================================================================================
#                 #データの切り分け
#                 target_x_train=target_train_df.drop('money',axis=1).copy()
#                 target_x_train=target_x_train.drop('result_com',axis=1)

#                 target_x_test=target_test_df.drop('money',axis=1).copy()
#                 target_x_test=target_x_test.drop('result_com',axis=1)

#                 #target_x_final=target_final_test_df.drop('money',axis=1).copy()
#                 #target_x_final=target_x_final.drop('result_com',axis=1)

#                 target_y_train=target_train_df['result_com']
#                 target_y_test=target_test_df['result_com']
#                 #target_y_final=target_final_test_df['result_com']
#                 train_x, valid_x, train_y, valid_y = train_test_split(target_x_train, target_y_train, test_size=0.2, shuffle=True, random_state=7)#学習データ内でさらに分割してロスをもとに修正をする。

#                 #XGboostのデータ型に変換する
# #                 train = xgb.DMatrix(train_x, label=train_y)#学習用
# #                 valid = xgb.DMatrix(valid_x, label=valid_y)#学習時のロス修正用
# #                 test = xgb.DMatrix(target_x_test, label=target_y_test)#実際に使った時の利益率の算出用
# #                 final = xgb.DMatrix(target_x_final, label=target_y_final)#最終確認用の区間
#                 #RF = RandomForestClassifier(random_state=7,n_estimators=1000,max_depth=depth,n_jobs=5)
#                 RF = RandomForestClassifier(random_state=7,n_estimators=1000,max_depth=depth,n_jobs=1)
#                 RF = RF.fit(target_x_train,target_y_train)
#                 #bst = xgb.train(param, train,num_round,evallist, verbose=100,early_stopping_rounds=30 )
#                 #RF = RandomForestClassifier(random_state=1,n_estimators=1000,max_depth=depth)
#                 #RF = RF.fit(target_x_train,target_y_train)


#                 # 未知データに対する予測値
#                 #predict_y_test = RF.predict(target_x_test)
# #                 predict_y_test=bst.predict(test)
# #                 predict_y_final=bst.predict(final)
#                 predict_y_test_proba_arr = RF.predict_proba(target_x_test)#まだ多次元リスト
#                 predict_y_test=[proba_arr[1] for proba_arr in predict_y_test_proba_arr]#1にあたる部分の確率のみ出力
#                 #predict_y_final_proba_arr = RF.predict_proba(target_x_final)#まだ多次元リスト
#                 #predict_y_final=[proba_arr[1] for proba_arr in predict_y_final_proba_arr]#1にあたる部分の確率のみ出力
#                 #==========================================================================================================================================
#                 #==========================================================================================================================================
#                 #==========================================================================================================================================
#                 #==========================================================================================================================================

#                 #[1]の正答率を見る
#                 pred_test_df=pd.DataFrame({'pred_proba':predict_y_test#確率分布での出力
#                                           , 'test':target_y_test})
#                 #pred_final_test_df=pd.DataFrame({'pred_proba':predict_y_final#確率分布での出力
#                 #                          , 'test':target_y_final})


#                 th_arr=[0.5,0.54,0.58]
#                 for th in th_arr:
#                     trans_test_df=pred_th_trans(pred_test_df,th)
#                     #trans_final_test_df=pred_th_trans(pred_final_test_df,th)
#                     #num_1=len(trans_df[trans_df['test']==1])
#                     #追加　配当金の情報も考慮する。
#                     count_test=0
#                     gain_index=0
#                     model_test_gain_arr=[0]*len(test_df)
#                     test_hit_arr=[0]*len(test_df)#あたっているかあたっていないかのフラグを格納した配列
#                     for _, s in trans_test_df.iterrows():
#                         if ((s['pred']==1) and (s['test']==1)):#もし購買しているかつ的中をしていたら・・・
#                             count_test+=1#的中回数
#                             model_test_gain_arr[gain_index]=test_gain_arr[gain_index]
#                             test_hit_arr[gain_index]=1
#                         gain_index+=1

#                     #=================================================
#                     try:
#                         pred_0[index]=trans_df['pred'].value_counts()[0]
#                     except:
#                         pred_0[index]=0

#                     #V4から増やした集計(月での集計を加えて，comごとでの安定性について確認する)
#                     test_analysis_df=trans_test_df.copy()#集計結果を格納するためのdf
#                     #final_test_analysis_df=trans_final_test_df.copy()#集計結果を格納するためのdf
#                     #集計のための情報を結合する
#                     test_analysis_df['hit_flag']=test_hit_arr#的中時に１のフラグを結合する
#                     test_analysis_df['gain']=model_test_gain_arr#的中して得られたゲインの金額を格納した配列
#                     test_analysis_df['date']=test_dates#月ごとの分析のために日付のデータを結合する
#                     test_analysis_df=get_event_info(test_analysis_df)#開催情報を取得
# #                     final_test_analysis_df['hit_flag']=final_test_hit_arr#的中時に１のフラグを結合する
# #                     final_test_analysis_df['gain']=model_final_test_gain_arr#的中して得られたゲインの金額を格納した配列
# #                     final_test_analysis_df['date']=final_test_dates#月ごとの分析のために日付のデータを結合する
# #                     final_test_analysis_df=get_event_info(final_test_analysis_df)#開催情報を取得

#                     test_m_analysis=calc_monthly_analysis(test_analysis_df)#月別の分析結果を取得
#                     #final_test_m_analysis=calc_monthly_analysis(final_test_analysis_df)#月別の分析結果を取得
#                     test_m_desc=test_m_analysis.describe()
#                     #final_test_m_desc=final_test_m_analysis.describe()
#                     #scoreのseriesに情報書き込み==================
#                     model_score_s['threshold']=th
#                     #テストデータ=============================================================
#                     #総収益
#                     model_score_s['total_get_test']=sum(model_test_gain_arr)
#                     #投資金額
#                     model_score_s['total_use_test']=100*trans_test_df['pred'].sum()
#                     #出現数
#                     model_score_s['num_com_test']=sum(target_y_test)
#                     #購買予測数
#                     model_score_s['num_pred_test']=trans_test_df['pred'].sum()
#                     #利益率
#                     model_score_s['gain_test']=(model_score_s['total_get_test']/model_score_s['total_use_test'])*100
#                     #利益率の標準偏差
#                     model_score_s['gain_std_test']=test_m_desc.loc['std','income_per']
#                     #的中数
#                     model_score_s['num_hit_test']=count_test
#                     #購買的中率
#                     model_score_s['buy_hit_per_test']=(count_test/trans_test_df['pred'].sum())*100
#                     #購買的中率の標準偏差
#                     model_score_s['buy_hit_per_std_test']=test_m_desc.loc['std','buy_hit_per']
#                     #配当がプラスになった月の数
#                     model_score_s['plus_month_num_test']=len(test_m_analysis[test_m_analysis['income']>0])
#                     #得られた配当の中央値と平均の差(中央値-平均，つまりマイナスが大きいほど高い配当が引っ張っている)
#                     model_score_s['diff_mea_med_test']=(test_m_desc.loc['mean','mean_income'])-(test_m_desc.loc['mean','median_income'])
#                     #dfに書き込み
#                     model_score_df=model_score_df.append(model_score_s,ignore_index=True)
#     #モデルの「スコアを保存
#     dir_path = "../../../bot_database/{place_name}/model_score_{place_name}/v6_score/{V}/{place_name}_model_score_period_st{stDate}_{V}.csv".format(place_name=place_name,V=version,stDate=now_ym.strftime('%Y%m%d'))#作成したデータの書き込み先#使用するデータの読み込み
#     model_score_df.to_csv(dir_path, encoding='utf_8_sig')
    return None

# モデリング実行部分

In [42]:
place_master=master.get_place_master()
place_names=[place_name for place_name in place_master.values()]#会場名のみを収納した配列
version='V6_1'#バージョン
# place_names

In [43]:
#チェック
time_sta = time.time()
target_year=2021
for place_name in place_names[:2]:
#for place_name in place_names[5:10]:

    print(place_name)
    result_filepath="../../..//bot_database/{place_name}/{place_name}_train/train_{place_name}.csv".format(place_name=place_name)#作成したデータの書き込み先#使用するデータの読み込み
    result_base_df=pd.read_csv(result_filepath)
    result_base_df=result_base_df.drop(["Unnamed: 0"],axis=1)
    result_df=data_making_mo_bo(result_base_df)#モデル関連に使用するdfの作成関数(クラスタリングあり、モータ番号、艇番号なし)（加工関数）    
    #ディレクトリ要チェックや！！！（カチカチ）
    model_score_proba_RondomForest_has_final(version,place_name,result_df,target_year)
# 時間計測終了
time_end = time.time()
# 経過時間（秒）
tim = time_end- time_sta
print('DONE')
print('elapsed time::{}=================================================================================================='.format(tim))

kiryu
kiryu
train==============================================

,result_com,money,racer_1_rank,racer_1_age,racer_1_doub,racer_1_ave_st,racer_2_rank,racer_2_age,racer_2_doub,racer_2_ave_st,...,racer_6_bo_91,racer_6_bo_92,racer_6_bo_93,racer_6_bo_94,racer_6_bo_95,racer_6_bo_96,racer_6_bo_97,racer_6_bo_98,racer_6_bo_99,year
0,41,3330.0,2,43.0,0.267,0.21,3,37.0,0.384,0.18,...,0,0,0,0,0,0,0,0,0,2012
1,22,780.0,2,52.0,0.321,0.16,3,42.0,0.350,0.19,...,0,0,0,0,0,0,0,0,0,2012
2,68,1240.0,2,30.0,0.108,0.23,3,39.0,0.381,0.21,...,0,0,0,0,0,0,0,0,0,2012
3,68,2510.0,2,38.0,0.242,0.22,1,26.0,0.200,0.22,...,0,0,0,0,0,0,0,0,0,2012
4,1,830.0,3,44.0,0.459,0.18,3,57.0,0.391,0.15,...,0,0,0,0,0,0,0,0,0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14811,95,23630.0,3,49.0,0.436,0.15,2,45.0,0.235,0.18,...,0,0,0,0,0,0,0,0,0,2018
14812,11,1180.0,3,44.0,0.438,0.13,2,35.0,0.194,0.18,...,0,0,0,0,0,0,0,0,0,2018
14813,13,3910.0,1,38.0,0.385,0.18,2,31.0,0.260,0.16,...,0,0,0,0,0,0,0,0,0,2018
14814,29,20600.0,3,35.0,0.354,0.21,3,40.0,0.387,0.16,...,0,0,0,0,0,0,0,0,0,2018
14815,1,560.0,3,44.0,0.493,0.14,4,39.0,0.500,0.16,...,0,0,0,0,0,0,0,0,0,2018

test1==============================================

,result_com,money,racer_1_rank,racer_1_age,racer_1_doub,racer_1_ave_st,racer_2_rank,racer_2_age,racer_2_doub,racer_2_ave_st,...,racer_6_bo_91,racer_6_bo_92,racer_6_bo_93,racer_6_bo_94,racer_6_bo_95,racer_6_bo_96,racer_6_bo_97,racer_6_bo_98,racer_6_bo_99,year
14816,1,3170.0,2,33.0,0.280,0.18,2,52.0,0.096,0.21,...,0,0,0,0,0,0,0,0,0,2019
14817,42,2120.0,3,52.0,0.361,0.21,2,32.0,0.359,0.18,...,0,0,0,0,0,0,0,0,0,2019
14818,1,1870.0,2,50.0,0.173,0.22,3,30.0,0.369,0.16,...,0,0,0,0,0,0,0,0,0,2019
14819,2,1290.0,2,31.0,0.317,0.15,3,30.0,0.396,0.16,...,0,0,0,0,0,0,0,0,0,2019
14820,72,5300.0,2,35.0,0.062,0.21,2,33.0,0.280,0.18,...,0,0,0,0,0,0,0,0,0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17057,20,2160.0,3,41.0,0.340,0.14,3,43.0,0.371,0.20,...,0,0,0,0,0,0,0,0,0,2019
17058,1,550.0,4,33.0,0.438,0.14,2,33.0,0.272,0.20,...,0,0,0,0,0,0,0,0,0,2019
17059,22,7050.0,4,47.0,0.559,0.15,2,34.0,0.232,0.17,...,0,0,0,0,0,0,0,0,0,2019
17060,9,1340.0,3,40.0,0.326,0.21,3,41.0,0.340,0.14,...,0,0,0,0,0,0,0,0,0,2019
17061,4,2770.0,4,38.0,0.604,0.15,3,47.0,0.363,0.16,...,0,0,0,0,0,0,0,0,0,2019

test2==============================================

,result_com,money,racer_1_rank,racer_1_age,racer_1_doub,racer_1_ave_st,racer_2_rank,racer_2_age,racer_2_doub,racer_2_ave_st,...,racer_6_bo_91,racer_6_bo_92,racer_6_bo_93,racer_6_bo_94,racer_6_bo_95,racer_6_bo_96,racer_6_bo_97,racer_6_bo_98,racer_6_bo_99,year
17062,10,1940.0,2,51.0,0.195,0.21,2,47.0,0.141,0.18,...,0,0,0,0,0,0,0,0,0,2020
17063,120,28770.0,3,61.0,0.389,0.15,3,48.0,0.347,0.15,...,0,0,0,0,0,0,0,0,0,2020
17064,78,1600.0,2,41.0,0.308,0.18,3,44.0,0.366,0.17,...,0,0,0,0,0,0,0,0,0,2020
17065,28,5950.0,3,33.0,0.361,0.15,4,35.0,0.461,0.15,...,0,0,0,0,0,0,0,0,0,2020
17066,88,4520.0,2,34.0,0.206,0.14,3,39.0,0.374,0.18,...,0,0,0,0,0,0,0,0,0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19083,9,1340.0,3,38.0,0.390,0.16,2,40.0,0.263,0.17,...,0,0,0,0,0,0,0,0,0,2020
19084,29,8470.0,2,37.0,0.212,0.16,2,40.0,0.336,0.15,...,0,0,0,0,0,0,0,0,0,2020
19085,4,1220.0,4,37.0,0.423,0.14,3,53.0,0.384,0.17,...,0,0,0,0,0,0,0,0,0,2020
19086,5,840.0,3,40.0,0.449,0.13,4,41.0,0.575,0.14,...,0,0,0,0,0,0,0,0,0,2020
19087,41,6860.0,4,41.0,0.523,0.14,4,33.0,0.647,0.17,...,0,0,0,0,0,0,0,0,0,2020

final==============================================

,result_com,money,racer_1_rank,racer_1_age,racer_1_doub,racer_1_ave_st,racer_2_rank,racer_2_age,racer_2_doub,racer_2_ave_st,...,racer_6_bo_91,racer_6_bo_92,racer_6_bo_93,racer_6_bo_94,racer_6_bo_95,racer_6_bo_96,racer_6_bo_97,racer_6_bo_98,racer_6_bo_99,year
19088,7,6410.0,2,65.0,0.338,0.16,2,47.0,0.198,0.17,...,0,0,0,0,0,0,0,0,0,2021
19089,5,4520.0,2,64.0,0.202,0.20,2,45.0,0.265,0.19,...,0,0,0,0,0,0,0,0,0,2021
19090,50,1420.0,2,51.0,0.196,0.22,2,49.0,0.327,0.19,...,0,0,0,0,0,0,0,0,0,2021
19091,87,7670.0,2,51.0,0.308,0.18,2,53.0,0.347,0.20,...,0,0,0,0,0,0,0,0,0,2021
19092,67,5530.0,2,33.0,0.277,0.18,3,51.0,0.378,0.17,...,0,0,0,0,0,0,0,0,0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21254,47,14280.0,3,39.0,0.392,0.17,2,27.0,0.140,0.27,...,0,0,0,0,0,0,0,0,0,2021
21255,63,3200.0,3,41.0,0.477,0.15,2,51.0,0.145,0.19,...,0,0,0,0,0,0,0,0,0,2021
21256,22,3480.0,3,48.0,0.420,0.17,3,51.0,0.416,0.15,...,0,0,0,0,0,0,0,0,0,2021
21257,45,3470.0,1,48.0,0.218,0.18,2,25.0,0.326,0.17,...,0,0,0,0,0,0,0,0,0,2021
21258,8,3840.0,4,30.0,0.472,0.17,2,47.0,0.282,0.18,...,0,0,0,0,0,0,0,0,0,2021

100%|██████████████████████████████████████████████████████████████████████████████████| 28/28 [00:01<00:00, 23.63it/s]

toda
toda
train==============================================

,result_com,money,racer_1_rank,racer_1_age,racer_1_doub,racer_1_ave_st,racer_2_rank,racer_2_age,racer_2_doub,racer_2_ave_st,...,racer_6_bo_91,racer_6_bo_92,racer_6_bo_93,racer_6_bo_94,racer_6_bo_95,racer_6_bo_96,racer_6_bo_97,racer_6_bo_98,racer_6_bo_99,year
0,87,5500.0,2,43.0,0.161,0.16,2,28.0,0.185,0.20,...,0,0,0,0,0,0,0,0,0,2012
1,78,11920.0,2,52.0,0.352,0.17,2,43.0,0.235,0.21,...,0,0,0,0,0,0,0,0,0,2012
2,54,6740.0,2,52.0,0.233,0.23,2,46.0,0.252,0.20,...,0,0,0,0,0,0,0,0,0,2012
3,96,1810.0,2,30.0,0.264,0.19,3,24.0,0.432,0.18,...,0,0,0,0,0,0,0,0,0,2012
4,48,4310.0,2,51.0,0.207,0.20,3,32.0,0.419,0.17,...,0,0,0,0,0,0,0,0,0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14351,71,7780.0,3,51.0,0.428,0.18,2,50.0,0.284,0.18,...,0,0,0,0,0,0,0,0,0,2018
14352,42,2380.0,3,56.0,0.414,0.16,3,53.0,0.350,0.17,...,0,0,0,0,0,0,0,0,0,2018
14353,12,12850.0,3,49.0,0.389,0.15,3,58.0,0.413,0.19,...,0,0,0,0,0,0,0,0,0,2018
14354,95,25220.0,2,29.0,0.209,0.19,4,29.0,0.463,0.15,...,0,0,0,0,0,0,0,0,0,2018
14355,47,9400.0,4,27.0,0.450,0.15,4,57.0,0.560,0.16,...,0,0,0,0,0,0,0,0,0,2018

test1==============================================

,result_com,money,racer_1_rank,racer_1_age,racer_1_doub,racer_1_ave_st,racer_2_rank,racer_2_age,racer_2_doub,racer_2_ave_st,...,racer_6_bo_91,racer_6_bo_92,racer_6_bo_93,racer_6_bo_94,racer_6_bo_95,racer_6_bo_96,racer_6_bo_97,racer_6_bo_98,racer_6_bo_99,year
14356,27,2950.0,2,44.0,0.256,0.15,2,29.0,0.273,0.19,...,0,0,0,0,0,0,0,0,0,2019
14357,74,950.0,1,50.0,0.142,0.19,2,43.0,0.270,0.15,...,0,0,0,0,0,0,0,0,0,2019
14358,1,2200.0,4,36.0,0.491,0.14,4,34.0,0.548,0.15,...,0,0,0,0,0,0,0,0,0,2019
14359,25,19920.0,3,29.0,0.445,0.16,2,45.0,0.240,0.16,...,0,0,0,0,0,0,0,0,0,2019
14360,29,1620.0,3,42.0,0.397,0.19,4,32.0,0.478,0.15,...,0,0,0,0,0,0,0,0,0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16340,61,3830.0,3,37.0,0.345,0.16,2,44.0,0.256,0.15,...,0,0,0,0,0,0,0,0,0,2019
16341,63,1560.0,3,36.0,0.376,0.16,2,59.0,0.198,0.19,...,0,0,0,0,0,0,0,0,0,2019
16342,102,8590.0,3,43.0,0.374,0.15,2,45.0,0.307,0.17,...,0,0,0,0,0,0,0,0,0,2019
16343,80,16970.0,4,54.0,0.548,0.15,3,33.0,0.311,0.15,...,0,0,0,0,0,0,0,0,0,2019
16344,61,5020.0,4,46.0,0.651,0.16,2,43.0,0.270,0.15,...,0,0,0,0,0,0,0,0,0,2019

test2==============================================

,result_com,money,racer_1_rank,racer_1_age,racer_1_doub,racer_1_ave_st,racer_2_rank,racer_2_age,racer_2_doub,racer_2_ave_st,...,racer_6_bo_91,racer_6_bo_92,racer_6_bo_93,racer_6_bo_94,racer_6_bo_95,racer_6_bo_96,racer_6_bo_97,racer_6_bo_98,racer_6_bo_99,year
16345,10,6560.0,3,42.0,0.392,0.18,3,51.0,0.448,0.18,...,0,0,0,0,0,0,0,0,0,2020
16346,1,1050.0,4,32.0,0.651,0.13,4,47.0,0.430,0.16,...,0,0,0,0,0,0,0,0,0,2020
16347,1,1340.0,4,34.0,0.434,0.15,3,46.0,0.436,0.16,...,0,0,0,0,0,0,0,0,0,2020
16348,82,7520.0,4,34.0,0.445,0.15,4,44.0,0.500,0.16,...,0,0,0,0,0,0,0,0,0,2020
16349,7,3920.0,4,33.0,0.510,0.15,4,32.0,0.510,0.16,...,0,0,0,0,0,0,0,0,0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18575,11,1840.0,2,29.0,0.153,0.16,2,62.0,0.213,0.17,...,0,0,0,0,0,0,0,0,0,2020
18576,102,15580.0,4,32.0,0.521,0.16,1,28.0,0.260,0.18,...,0,0,0,0,0,0,0,0,0,2020
18577,80,32220.0,4,26.0,0.441,0.16,2,57.0,0.200,0.18,...,0,0,0,0,0,0,0,0,0,2020
18578,15,6100.0,4,34.0,0.548,0.14,4,39.0,0.577,0.16,...,0,0,0,0,0,0,0,0,0,2020
18579,1,840.0,4,31.0,0.492,0.17,4,32.0,0.529,0.17,...,0,0,0,0,0,0,0,0,0,2020

final==============================================

,result_com,money,racer_1_rank,racer_1_age,racer_1_doub,racer_1_ave_st,racer_2_rank,racer_2_age,racer_2_doub,racer_2_ave_st,...,racer_6_bo_91,racer_6_bo_92,racer_6_bo_93,racer_6_bo_94,racer_6_bo_95,racer_6_bo_96,racer_6_bo_97,racer_6_bo_98,racer_6_bo_99,year
18580,1,960.0,2,42.0,0.177,0.18,2,48.0,0.299,0.19,...,0,0,0,0,0,0,0,0,0,2021
18581,49,2880.0,2,45.0,0.230,0.17,2,35.0,0.267,0.17,...,0,0,0,0,0,0,0,0,0,2021
18582,82,2300.0,2,40.0,0.337,0.18,2,31.0,0.299,0.15,...,0,0,0,0,0,0,0,0,0,2021
18583,26,2500.0,2,61.0,0.183,0.19,4,33.0,0.442,0.16,...,0,0,0,0,0,0,0,0,0,2021
18584,1,2820.0,2,37.0,0.303,0.16,4,38.0,0.425,0.16,...,0,0,0,0,0,0,0,0,0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20713,21,6790.0,1,21.0,0.020,0.23,2,24.0,0.126,0.18,...,0,0,0,0,0,0,0,0,0,2021
20714,17,18680.0,2,52.0,0.112,0.21,2,45.0,0.230,0.17,...,0,0,0,0,0,0,0,0,0,2021
20715,21,1300.0,3,51.0,0.378,0.17,3,36.0,0.394,0.16,...,0,0,0,0,0,0,0,0,0,2021
20716,41,1900.0,2,29.0,0.253,0.17,2,42.0,0.274,0.16,...,0,0,0,0,0,0,0,0,0,2021
20717,5,650.0,4,38.0,0.550,0.12,3,53.0,0.433,0.18,...,0,0,0,0,0,0,0,0,0,2021

100%|██████████████████████████████████████████████████████████████████████████████████| 28/28 [00:01<00:00, 23.32it/s]

DONE
elapsed time::11.08366346359253==================================================================================================

In [ ]:
result_df