In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from matplotlib import pyplot as plt
import seaborn
from pandas import DataFrame
from tqdm import tqdm
from imblearn.under_sampling import RandomUnderSampler #アンダーサンプリング用
from sklearn.model_selection import train_test_split
import pickle
# 機械学習用
from sklearn.cluster import KMeans #クラスタリング用
from sklearn.ensemble import RandomForestClassifier#ランダムフォレスト
from copy import deepcopy as cp
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
import lightgbm as lgb
from sklearn.linear_model import LogisticRegression as LR
import time
import datetime
import os #ディレクトリ作成用
import xgboost as xgb
import sys
#自作のモジュールのインポート
import module.master as master
import module.graph as graph
import module.trans_text_code as trans
import module.data_making as making
import time

In [2]:
place_master=master.get_place_master()
for place in place_master.items():
    #print(place[0],place[1],'\n')
    place_name=place[1]
    dir_path = "../../bot_database/{place_name}/model_score_{place_name}/".format(place_name=place_name)#作成したデータの書き込み先#使用するデータの読み込み
    if os.path.exists(dir_path)==False:
        os.makedirs(dir_path)
    else:
        pass

In [3]:

#データ格納用のディレクトリ作り
version='V2_1_1'#バージョン


# place_master=master.get_place_master()
# for place in place_master.items():
#place_name=place[1]
place_name='tokuyama'
################################################========================================================================================================================
################################################========================================================================================================================
################################################========================================================================================================================
################################################========================================================================================================================
#各会場の学習データの読み込みと加工
result_filepath="../..//bot_database/{place_name}/{place_name}_train/train_{place_name}.csv".format(place_name=place_name)#作成したデータの書き込み先#使用するデータの読み込み
result_base_df=pd.read_csv(result_filepath)
result_base_df=result_base_df.drop(["Unnamed: 0"],axis=1)
making.version_2_1_1(version,place_name,result_base_df)

tokuyama

   racer_1_rank  racer_1_age  racer_1_doub  racer_1_ave_st  racer_2_rank  racer_2_age  racer_2_doub  racer_2_ave_st  racer_3_rank  racer_3_age  ...  racer_5_male_1  racer_6_male_0  racer_6_male_1  num=3  num=5  num=7  num=9  year    money  result_com
0             3         50.0         0.475            0.16             2         46.0         0.198            0.21             2         44.0  ...               1               0               1      1      3      1      4  2012   1900.0           6
1             3         35.0         0.349            0.17             3         50.0         0.374            0.22             3         39.0  ...               1               0               1      2      4      0      7  2012  17790.0          84
2             2         56.0         0.339            0.22             3         36.0         0.375            0.21             2         56.0  ...               1               1               0      2      1      2      4  2012   2020.0          67
3             4         38.0         0.508            0.17             2         48.0         0.176            0.19             3         40.0  ...               1               0               1      1      3      1      0  2012   6310.0          64
4             2         44.0         0.154            0.18             4         44.0         0.597            0.15             2         34.0  ...               1               0               1      1      3      1      0  2012   9490.0          70

[5 rows x 55 columns]

       racer_1_rank  racer_1_age  racer_1_doub  racer_1_ave_st  racer_2_rank  racer_2_age  racer_2_doub  racer_2_ave_st  racer_3_rank  racer_3_age  ...  racer_5_male_1  racer_6_male_0  racer_6_male_1  num=3  num=5  num=7  num=9  year   money  result_com
14792             1         47.0         0.102            0.15             2         31.0         0.333            0.15             3         34.0  ...               1               0               1      2      1      6      8  2018  3270.0          21
14793             2         36.0         0.310            0.18             2         35.0         0.254            0.23             3         34.0  ...               1               0               1      2      4      0      7  2018  1130.0           5
14794             4         35.0         0.546            0.14             3         30.0         0.378            0.13             3         40.0  ...               1               0               1      2      0      3      2  2018   330.0           1
14795             3         39.0         0.414            0.16             4         50.0         0.570            0.16             2         49.0  ...               1               0               1      1      3      2      4  2018  1500.0           5
14796             4         37.0         0.633            0.15             3         36.0         0.435            0.14             4         40.0  ...               1               0               1      2      1      2      5  2018  5110.0          15

[5 rows x 55 columns]

  0%|                                                                                           | 0/28 [00:00<?, ?it/s]

len_train 1768
len_valid 443
len_train 1786
len_valid 447
len_train 1804
len_valid 451
len_train 1821
len_valid 456
len_train 1839
len_valid 460
len_train 1856
len_valid 465
len_train 1874
len_valid 469
len_train 1892
len_valid 473
len_train 1909
len_valid 478
len_train 1927
len_valid 482
len_train 1944
len_valid 486
len_train 1961
len_valid 491
len_train 1979
len_valid 495
len_train 1996
len_valid 500
len_train 2014
len_valid 504
len_train 2032
len_valid 508
len_train 2049
len_valid 513
len_train 2067
len_valid 517
len_train 2084
len_valid 522
len_train 2102
len_valid 526
len_train 2119
len_valid 530
len_train 2136
len_valid 535
len_train 2154
len_valid 539
len_train 2172
len_valid 543
len_train 2189
len_valid 548
len_train 2207
len_valid 552
len_train 2224
len_valid 557
len_train 2242
len_valid 561
len_train 2260
len_valid 565
len_train 2277
len_valid 570
len_train 2294
len_valid 574
len_train 2312
len_valid 578
len_train 2329
len_valid 583
len_train 2347
len_valid 587
len_train 2364
len_valid 592
len_train 2382
len_valid 596
len_train 2400
len_valid 600
len_train 2417
len_valid 605
len_train 2435
len_valid 609
len_train 2452
len_valid 614
len_train 2469
len_valid 618
len_train 2487
len_valid 622
len_train 2504
len_valid 627
len_train 2522
len_valid 631
len_train 2540
len_valid 635
len_train 2557
len_valid 640
len_train 2575
len_valid 644
len_train 2592
len_valid 649
len_train 2610
len_valid 653
len_train 2628
len_valid 657
len_train 2644
len_valid 662
len_train 2662
len_valid 666
len_train 2680
len_valid 670
len_train 2697
len_valid 675
len_train 2715
len_valid 679
len_train 2732
len_valid 684
len_train 2750
len_valid 688
len_train 2768
len_valid 692
len_train 2785
len_valid 697
len_train 2803
len_valid 701
len_train 2820
len_valid 705
len_train 2837
len_valid 710
len_train 2855
len_valid 714
len_train 2872
len_valid 719
len_train 2890
len_valid 723
len_train 2908
len_valid 727
len_train 2925
len_valid 732
len_train 2943
len_valid 736
len_train 2960
len_valid 741
len_train 2978
len_valid 745
len_train 2995
len_valid 749
len_train 3012
len_valid 754
len_train 3030
len_valid 758
len_train 3048
len_valid 762
len_train 3065
len_valid 767
len_train 3083
len_valid 771
len_train 3100
len_valid 776
len_train 3118
len_valid 780
len_train 3136
len_valid 784
len_train 3153
len_valid 789
len_train 3170
len_valid 793
len_train 3188
len_valid 797
len_train 3205
len_valid 802
len_train 3223
len_valid 806

  0%|                                                                                           | 0/28 [01:54<?, ?it/s]

KeyboardInterrupt:

In [4]:
# print(place_name)
# #result_dfは加工関数にて分けられたものを渡す。
# model_score_df=pd.DataFrame(columns=['target_com','depth','target_per','threshold','総収益', '投資金額','出現数','購買予測数','利益率','購買的中率','的中数'])#スコアを格納するdf

# #学習データの切り分け
# test_df = result_df[(result_df['year']==2019) | ((result_df['year']==2020) )]#2019,2020のデータを検証用データに。
# train_df =  result_df[(result_df['year']!=2019) & ((result_df['year']!=2020) )]#そのほかを学習データに
# #学習データを切り分けたらyearはいらないから削除する
# test_df=test_df.drop(['year'],axis=1)
# train_df=train_df.drop(['year'],axis=1)

# train_money=pd.Series(train_df['money'])
# test_money=pd.Series(test_df['money'])

# #x,yへの切り分け
# #出現数の分布
# result_com_s=test_df['result_com'].value_counts()
# result_com_s=result_com_s.sort_index()
# gain_mean=test_df.groupby('result_com')['money'].mean()
# gain_mean=gain_mean.sort_index()

# gain_median=test_df.groupby('result_com')['money'].median()
# gain_median=gain_median.sort_index()
# result_com_df=pd.DataFrame({'result_com':result_com_s.index,
#                             'result_com_num':result_com_s.values,
#                             'result_com_per':result_com_s.values/sum(result_com_s.values)*100,
#                             'gain_mean':gain_mean.values,
#                             'gain_median':gain_median.values,})
# result_com_df=result_com_df.iloc[0:28]#探索的に探すにも最後のほうは役にモデルなのはわかっているため



# """
# for result_com_number in tqdm(result_com_df['result_com'].values):
# """









# #print(result_com_number)
# result_com=5

# #result_comごとの閾値の決定========================================================================

# gain_th=10#利益率の閾値
# result_s=result_com_df[result_com_df['result_com']==result_com]
# buy_accuracy_th=result_s['result_com_per'].values[0]*1.1#買ったうちの的中率の閾値
# num_tp_th=result_s['result_com_num'].values[0]*0.2#あたった回数の閾値(出現回数の20%が的中)
# #===============================================================================
# #学習データのラベル変換==========================================================
# result_train_df=train_df.copy()
# result_arr=[0]*len(result_train_df)
# i=0
# for result in result_train_df['result_com']:
#     if ((result==result_com)):
#         result_arr[i]=1
#     else:
#         result_arr[i]=0
#     i+=1
# result_train_df['result_com']=result_arr
# result_test_df=test_df.copy()
# result_arr=[0]*len(result_test_df)
# i=0
# for result in result_test_df['result_com']:
#     if ((result==result_com)):
#         result_arr[i]=1
#     else:
#         result_arr[i]=0
#     i+=1

# result_test_df['result_com']=result_arr

# result_train_df['money']=train_money
# result_test_df['money']=test_money
# #学習データラベル変換終わり============================================

# for_arr=np.arange(1,85)
# #for_arr=np.arange(1,100,1)
# accuracy_arr=[0]*len(for_arr)
# target_per_arr=[0]*len(for_arr)
# pred_0=[0]*len(for_arr)
# gain_arr=[0]*len(for_arr)
# model_gain_arr=[0]*len(result_test_df)
# test_gain_arr=test_money.values
# #depths_arr=[4,5,6,7,8]
# depths_arr=[5,6,8]
# for depth in depths_arr:
#     # 処理前の時刻
#     t_depth = time.time() 
#     for sum_target_per in for_arr:
        
#         t_train = time.time() 
        
#         index=sum_target_per-1
#         #target_per=50+sum_target_per
#         target_per=100+(sum_target_per*2)
#         target_per_arr[index]=target_per

#         #モデルの評価指標値を格納するseries======================
#         model_score_s=pd.Series(index=['target_com','depth','target_per','threshold','総収益', '投資金額','出現数','購買予測数','利益率','購買的中率','的中数'], dtype='float64')
#         model_score_s['target_com']=result_com#目標としているresult_comラベル番号
#         model_score_s['depth']=depth#ハイパーパラメータ＿木の深さ
#         model_score_s['target_per']=target_per#学習データ_1に対してどの程度の0のデータを持たせるか。
#         #======================
#         #trainの[0]に対して、target_perの割合の量[1]を持った学習データの作成
#         # 一層目の判別機のtrainデータ　:terget_result_df
#         target_df=result_train_df#ベースのデータフレームをコピー
#         target_df=target_df.sample(frac=1, random_state=1)#シャッフル、時系列の偏りを無くす
#         target_1_df=target_df[target_df['result_com']==1]
#         len_1=len(target_1_df)
#         target_0_df=target_df[target_df['result_com']==0]
#         len_0=len(target_0_df)
#         target_0_df=target_0_df.iloc[(len_0-int(len_1*(target_per/100))):len_0]#1に対する目標の割合ぶん0の結果だったレースを抽出（後ろから抽出）
#         target_train_df=pd.concat([target_1_df, target_0_df])
#         #学習＆予測ぱーと========================================================================
#         #==========================================================================================================================================
#         #データの切り分け
#         target_x_train=target_train_df.drop('money',axis=1)
#         target_x_train=target_x_train.drop('result_com',axis=1)
#         target_x_test=result_test_df.drop('money',axis=1)
#         target_x_test=target_x_test.drop('result_com',axis=1)

#         target_y_train=target_train_df['result_com']
#         target_y_test=result_test_df['result_com']
#         train_x, valid_x, train_y, valid_y = train_test_split(target_x_train, target_y_train, test_size=0.2, shuffle=True)#学習データ内でさらに分割してロスをもとに修正をする。

#         #XGboostのデータ型に変換する
#         train = xgb.DMatrix(train_x, label=train_y)#学習用
#         valid = xgb.DMatrix(valid_x, label=valid_y)#学習時のロス修正用
#         test = xgb.DMatrix(target_x_test, label=target_y_test)#実際に使った時の利益率の算出用

#         #xgb.config_context(verbosity=0)
#         param = {'max_depth': depth, #パラメータの設定
#                  #'eta': 1.8,
#                  #'eta': 0.8,
#                  'eta': 1.3,
#                  #'eta': 0.2,
#                  #'objective': 'binary:hinge',
#                  'objective': 'binary:logistic',#確率で出力
#                  'eval_metric': 'logloss',
#                  'verbosity':0,
#                  'subsample':0.8,
#                  'nthread':10,
#                  'gpu_id':0,
#                  'seed':7,
#                  'tree_method':'gpu_hist'
#                 }
#         evallist = [(valid, 'eval'), (train, 'train')]#学習時にバリデーションを監視するデータの指定。
#         #bst = xgb.train(param, train,num_boost_round=1000,early_stopping_rounds=30)
#         #num_round = 800
#         num_round = 400
#         #bst = xgb.train(param, train,num_round,evallist, early_stopping_rounds=30, verbose_eval=0 )
#         bst = xgb.train(param, train,num_round,evallist, early_stopping_rounds=10)
#         #RF = RandomForestClassifier(random_state=1,n_estimators=1000,max_depth=depth)
#         #RF = RF.fit(target_x_train,target_y_train)


#         # 未知データに対する予測値
#         #predict_y_test = RF.predict(target_x_test)
#         predict_y_test=bst.predict(test)

#         #==========================================================================================================================================
#         #==========================================================================================================================================
#         #==========================================================================================================================================
#         #==========================================================================================================================================

#         #[1]の正答率を見る
#         pred_test_df=pd.DataFrame({'pred_proba':predict_y_test#確率分布での出力
#                                   , 'test':target_y_test})
        
#         th_arr=[0.85,0.87,0.9,0.92,0.95]
#         #th_arr=[0.01,0.03,0.05,0.07,0.9,0.1,0.13]

#         for th in th_arr:
#             trans_df=pred_th_trans(pred_test_df,th)
#             num_1=len(trans_df[trans_df['test']==1])
#             count=0
#             #追加　配当金の情報も考慮する。
#             gain_index=0
#             model_gain_arr=[0]*len(result_test_df)
#             for _, s in trans_df.iterrows():
#                 if ((s['pred']==1) and (s['test']==1)):#もし購買しているかつ的中をしていたら・・・
#                     count+=1#的中回数
#                     model_gain_arr[gain_index]=test_gain_arr[gain_index]
#                 gain_index+=1
#             #print('test accyracy: {}'.format((count/num_1)*100))
#             gain_arr[index]=sum(model_gain_arr)
#             accuracy_arr[index]=(count/num_1)*100
#             try:
#                 pred_0[index]=trans_df['pred'].value_counts()[0]
#             except:
#                 pred_0[index]=0
#             #scoreのseriesに情報書き込み==================
#             model_score_s['threshold']=th
#             model_score_s['総収益']=sum(model_gain_arr)
#             #model_score_s['投資金額']=100*sum(predict_y_test)
#             model_score_s['投資金額']=100*trans_df['pred'].sum()
#             model_score_s['出現数']=sum(target_y_test)
#             #model_score_s['購買予測数']=sum(predict_y_test)
#             model_score_s['購買予測数']=trans_df['pred'].sum()
#             model_score_s['利益率']=(model_score_s['総収益']/model_score_s['投資金額'])*100
#             model_score_s['購買的中率']=(count/trans_df['pred'].sum())*100
#             model_score_s['的中数']=count
#             model_score_df=model_score_df.append(model_score_s,ignore_index=True)
#         # 処理後の時刻
#         t_train_e = time.time() 
#         # 経過時間を表示
#         elapsed_time_train = t_train_e-t_train
#         print(f"経過時間：{elapsed_time_train}")
        
#     # 処理後の時刻
#     t_depth_e = time.time() 
#    # 経過時間を表示
#     elapsed_time_depth = t_depth_e-t_depth
#     print(f"経過時間：{elapsed_time_depth}")

# #モデルの「スコアを保存
# #model_score_df.to_csv('{}_model_score.csv'.format(place), encoding='utf_8_sig')

# #dir_path = "../../bot_database/{place_name}/model_score_{place_name}/{place_name}_model_score_{V}.csv".format(place_name=place_name,V=version)#作成したデータの書き込み先#使用するデータの読み込み
# dir_path = "csv/{place_name}_model_score_{V}.csv".format(place_name=place_name,V=version)#作成したデータの書き込み先#使用するデータの読み込み
# model_score_df=model_score_df.sort_values(['target_com', 'depth','threshold','target_per'])#並べ替え
# model_score_df.to_csv(dir_path, encoding='utf_8_sig')
# #return None

tokuyama

In [5]:
# train_x, valid_x, train_y, valid_y = train_test_split(target_x_train, target_y_train, test_size=0.2, shuffle=True)#学習データ内でさらに分割してロスをもとに修正をする。

NameError: name 'target_x_train' is not defined

In [6]:
# test_df

       racer_1_rank  racer_1_age  racer_1_doub  racer_1_ave_st  racer_2_rank  racer_2_age  racer_2_doub  racer_2_ave_st  racer_3_rank  racer_3_age  ...  racer_5_male_0  racer_5_male_1  racer_6_male_0  racer_6_male_1  num=3  num=5  num=7  num=9    money  result_com
14797             3         31.0         0.387            0.17             2         27.0         0.297            0.17             2         36.0  ...               1               0               1               0      0      2      4      3  16650.0          20
14798             4         25.0         0.442            0.18             4         27.0         0.468            0.16             4         32.0  ...               1               0               1               0      0      2      4      3   1740.0          42
14799             3         33.0         0.448            0.18             2         26.0         0.193            0.17             2         36.0  ...               1               0               1               0      0      2      4      3    910.0           3
14800             4         30.0         0.630            0.16             2         30.0         0.295            0.19             2         28.0  ...               1               0               1               0      0      2      4      3   6920.0          63
14801             1         27.0         0.111            0.20             4         31.0         0.400            0.15             2         27.0  ...               1               0               1               0      0      2      4      3   1250.0          21
...             ...          ...           ...             ...           ...          ...           ...             ...           ...          ...  ...             ...             ...             ...             ...    ...    ...    ...    ...      ...         ...
19298             3         33.0         0.416            0.14             2         35.0         0.179            0.17             2         63.0  ...               0               1               0               1      1      3      5      6    730.0          12
19299             2         35.0         0.259            0.18             4         33.0         0.485            0.14             2         60.0  ...               0               1               0               1      2      4      0      7  14660.0          70
19300             4         24.0         0.500            0.17             3         46.0         0.386            0.17             3         36.0  ...               0               1               0               1      1      1      6      8   4170.0           9
19301             4         35.0         0.435            0.15             2         47.0         0.215            0.16             3         38.0  ...               0               1               0               1      2      4      0      7   1480.0          14
19302             4         45.0         0.675            0.12             4         39.0         0.428            0.13             2         47.0  ...               0               1               0               1      2      1      2      4   2530.0          11

[4506 rows x 54 columns]

In [7]:
# train_df

       racer_1_rank  racer_1_age  racer_1_doub  racer_1_ave_st  racer_2_rank  racer_2_age  racer_2_doub  racer_2_ave_st  racer_3_rank  racer_3_age  ...  racer_5_male_0  racer_5_male_1  racer_6_male_0  racer_6_male_1  num=3  num=5  num=7  num=9    money  result_com
0                 3         50.0         0.475            0.16             2         46.0         0.198            0.21             2         44.0  ...               0               1               0               1      1      3      1      4   1900.0           6
1                 3         35.0         0.349            0.17             3         50.0         0.374            0.22             3         39.0  ...               0               1               0               1      2      4      0      7  17790.0          84
2                 2         56.0         0.339            0.22             3         36.0         0.375            0.21             2         56.0  ...               0               1               1               0      2      1      2      4   2020.0          67
3                 4         38.0         0.508            0.17             2         48.0         0.176            0.19             3         40.0  ...               0               1               0               1      1      3      1      0   6310.0          64
4                 2         44.0         0.154            0.18             4         44.0         0.597            0.15             2         34.0  ...               0               1               0               1      1      3      1      0   9490.0          70
...             ...          ...           ...             ...           ...          ...           ...             ...           ...          ...  ...             ...             ...             ...             ...    ...    ...    ...    ...      ...         ...
14792             1         47.0         0.102            0.15             2         31.0         0.333            0.15             3         34.0  ...               0               1               0               1      2      1      6      8   3270.0          21
14793             2         36.0         0.310            0.18             2         35.0         0.254            0.23             3         34.0  ...               0               1               0               1      2      4      0      7   1130.0           5
14794             4         35.0         0.546            0.14             3         30.0         0.378            0.13             3         40.0  ...               0               1               0               1      2      0      3      2    330.0           1
14795             3         39.0         0.414            0.16             4         50.0         0.570            0.16             2         49.0  ...               0               1               0               1      1      3      2      4   1500.0           5
14796             4         37.0         0.633            0.15             3         36.0         0.435            0.14             4         40.0  ...               0               1               0               1      2      1      2      5   5110.0          15

[14797 rows x 54 columns]

In [18]:
# check_train_y=train_df['result_com']
# check_train_x=train_df.drop(['money','result_com'],axis=1)
# train_x, valid_x, train_y, valid_y = train_test_split( check_train_x,check_train_y, test_size=0.2, shuffle=False)#学習データ内でさらに分割してロスをもとに修正をする。

In [19]:
# train_x

       racer_1_rank  racer_1_age  racer_1_doub  racer_1_ave_st  racer_2_rank  racer_2_age  racer_2_doub  racer_2_ave_st  racer_3_rank  racer_3_age  ...  racer_4_male_0  racer_4_male_1  racer_5_male_0  racer_5_male_1  racer_6_male_0  racer_6_male_1  num=3  num=5  num=7  num=9
0                 3         50.0         0.475            0.16             2         46.0         0.198            0.21             2         44.0  ...               1               0               0               1               0               1      1      3      1      4
1                 3         35.0         0.349            0.17             3         50.0         0.374            0.22             3         39.0  ...               0               1               0               1               0               1      2      4      0      7
2                 2         56.0         0.339            0.22             3         36.0         0.375            0.21             2         56.0  ...               0               1               0               1               1               0      2      1      2      4
3                 4         38.0         0.508            0.17             2         48.0         0.176            0.19             3         40.0  ...               1               0               0               1               0               1      1      3      1      0
4                 2         44.0         0.154            0.18             4         44.0         0.597            0.15             2         34.0  ...               0               1               0               1               0               1      1      3      1      0
...             ...          ...           ...             ...           ...          ...           ...             ...           ...          ...  ...             ...             ...             ...             ...             ...             ...    ...    ...    ...    ...
11832             4         33.0         0.449            0.15             2         38.0         0.384            0.17             4         40.0  ...               0               1               0               1               0               1      2      1      6      5
11833             4         48.0         0.551            0.13             3         39.0         0.454            0.17             3         38.0  ...               0               1               0               1               0               1      1      3      1      1
11834             3         30.0         0.440            0.16             3         36.0         0.395            0.15             2         39.0  ...               0               1               0               1               0               1      0      2      4      8
11835             2         33.0         0.305            0.16             3         35.0         0.381            0.16             2         31.0  ...               0               1               0               1               0               1      0      2      4      3
11836             3         45.0         0.464            0.14             2         42.0         0.207            0.15             3         38.0  ...               0               1               0               1               0               1      2      4      0      7

[11837 rows x 52 columns]

In [20]:
# valid_x

       racer_1_rank  racer_1_age  racer_1_doub  racer_1_ave_st  racer_2_rank  racer_2_age  racer_2_doub  racer_2_ave_st  racer_3_rank  racer_3_age  ...  racer_4_male_0  racer_4_male_1  racer_5_male_0  racer_5_male_1  racer_6_male_0  racer_6_male_1  num=3  num=5  num=7  num=9
11837             2         38.0         0.250            0.13             2         36.0         0.170            0.20             2         24.0  ...               0               1               0               1               0               1      0      2      4      8
11838             3         34.0         0.367            0.17             2         39.0         0.186            0.22             4         37.0  ...               0               1               0               1               0               1      0      4      0      7
11839             3         40.0         0.395            0.16             2         31.0         0.256            0.17             3         31.0  ...               0               1               0               1               0               1      0      2      4      3
11840             4         40.0         0.538            0.17             3         30.0         0.440            0.16             4         49.0  ...               0               1               0               1               0               1      2      0      5      6
11841             4         56.0         0.439            0.17             3         37.0         0.363            0.16             4         33.0  ...               0               1               0               1               0               1      1      0      3      1
...             ...          ...           ...             ...           ...          ...           ...             ...           ...          ...  ...             ...             ...             ...             ...             ...             ...    ...    ...    ...    ...
14792             1         47.0         0.102            0.15             2         31.0         0.333            0.15             3         34.0  ...               0               1               0               1               0               1      2      1      6      8
14793             2         36.0         0.310            0.18             2         35.0         0.254            0.23             3         34.0  ...               0               1               0               1               0               1      2      4      0      7
14794             4         35.0         0.546            0.14             3         30.0         0.378            0.13             3         40.0  ...               0               1               0               1               0               1      2      0      3      2
14795             3         39.0         0.414            0.16             4         50.0         0.570            0.16             2         49.0  ...               0               1               0               1               0               1      1      3      2      4
14796             4         37.0         0.633            0.15             3         36.0         0.435            0.14             4         40.0  ...               0               1               0               1               0               1      2      1      2      5

[2960 rows x 52 columns]

In [24]:
result_train_df

       racer_1_rank  racer_1_age  racer_1_doub  racer_1_ave_st  racer_2_rank  racer_2_age  racer_2_doub  racer_2_ave_st  racer_3_rank  racer_3_age  ...  racer_5_male_0  racer_5_male_1  racer_6_male_0  racer_6_male_1  num=3  num=5  num=7  num=9    money  result_com
0                 3         50.0         0.475            0.16             2         46.0         0.198            0.21             2         44.0  ...               0               1               0               1      1      3      1      4   1900.0           0
1                 3         35.0         0.349            0.17             3         50.0         0.374            0.22             3         39.0  ...               0               1               0               1      2      4      0      7  17790.0           0
2                 2         56.0         0.339            0.22             3         36.0         0.375            0.21             2         56.0  ...               0               1               1               0      2      1      2      4   2020.0           0
3                 4         38.0         0.508            0.17             2         48.0         0.176            0.19             3         40.0  ...               0               1               0               1      1      3      1      0   6310.0           0
4                 2         44.0         0.154            0.18             4         44.0         0.597            0.15             2         34.0  ...               0               1               0               1      1      3      1      0   9490.0           0
...             ...          ...           ...             ...           ...          ...           ...             ...           ...          ...  ...             ...             ...             ...             ...    ...    ...    ...    ...      ...         ...
14792             1         47.0         0.102            0.15             2         31.0         0.333            0.15             3         34.0  ...               0               1               0               1      2      1      6      8   3270.0           0
14793             2         36.0         0.310            0.18             2         35.0         0.254            0.23             3         34.0  ...               0               1               0               1      2      4      0      7   1130.0           1
14794             4         35.0         0.546            0.14             3         30.0         0.378            0.13             3         40.0  ...               0               1               0               1      2      0      3      2    330.0           0
14795             3         39.0         0.414            0.16             4         50.0         0.570            0.16             2         49.0  ...               0               1               0               1      1      3      2      4   1500.0           1
14796             4         37.0         0.633            0.15             3         36.0         0.435            0.14             4         40.0  ...               0               1               0               1      2      1      2      5   5110.0           0

[14797 rows x 54 columns]