In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from matplotlib import pyplot as plt
import seaborn
from pandas import DataFrame
from tqdm import tqdm
from imblearn.under_sampling import RandomUnderSampler #アンダーサンプリング用
import pickle
# 機械学習用
from sklearn.cluster import KMeans #クラスタリング用
from sklearn.ensemble import RandomForestClassifier#ランダムフォレスト
from copy import deepcopy as cp
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
import lightgbm as lgb
from sklearn.linear_model import LogisticRegression as LR
import time
import datetime
import os #ディレクトリ作成用
import xgboost as xgb
import sys
#自作のモジュールのインポート
import module.master as master
import module.graph as graph
import module.trans_text_code as trans
import module.data_making as making

# 新規関数案

In [2]:
#dateのカラムを年だけに変換するやつ
"""
def trans_date_type(df):
    df['date']=pd.to_datetime(df['date'])#日付が文字列なのでdateを日付型に変換
    df['year']=df['date'].dt.year
    df=df.drop('date',axis=1)
    return df
"""

"\ndef trans_date_type(df):\n    df['date']=pd.to_datetime(df['date'])#日付が文字列なのでdateを日付型に変換\n    df['year']=df['date'].dt.year\n    df=df.drop('date',axis=1)\n    return df\n"

# 学習データの作成

In [3]:

#place_master=master.get_place_master()
#for place in place_master.items():

pd.set_option('display.width',400)#勝手に改行コードを入れられるのを防ぐ
place_name='tokuyama'#今回は徳山を例にしていったんXGboostバージョンを作る。

result_filepath="../../..//bot_database/{place_name}/{place_name}_train/train_{place_name}.csv".format(place_name=place_name)#作成したデータの書き込み先#使用するデータの読み込み
result_base_df=pd.read_csv(result_filepath)
result_base_df=result_base_df.drop(["Unnamed: 0"],axis=1)
result_base_df=making.data_making_1_0(result_base_df)
result_base_df

       result_com    money  racer_1_rank  racer_1_age  racer_1_doub  racer_1_ave_st  racer_2_rank  racer_2_age  racer_2_doub  racer_2_ave_st  ...  racer_6_bo_91  racer_6_bo_92  racer_6_bo_93  racer_6_bo_94  racer_6_bo_95  racer_6_bo_96  racer_6_bo_97  racer_6_bo_98  racer_6_bo_99  year
0               6   1900.0             3         50.0         0.475            0.16             2         46.0         0.198            0.21  ...              0              0              0              0              0              0              0              0              0  2012
1              84  17790.0             3         35.0         0.349            0.17             3         50.0         0.374            0.22  ...              0              0              0              0              0              0              0              0              0  2012
2              67   2020.0             2         56.0         0.339            0.22             3         36.0         0.375            0.21  ...              0              0              0              0              0              0              0              0              0  2012
3              64   6310.0             4         38.0         0.508            0.17             2         48.0         0.176            0.19  ...              0              0              0              0              0              0              0              0              0  2012
4              70   9490.0             2         44.0         0.154            0.18             4         44.0         0.597            0.15  ...              0              0              0              0              0              0              0              0              0  2012
...           ...      ...           ...          ...           ...             ...           ...          ...           ...             ...  ...            ...            ...            ...            ...            ...            ...            ...            ...            ...   ...
19298          12    730.0             3         33.0         0.416            0.14             2         35.0         0.179            0.17  ...              0              0              0              0              0              0              0              0              0  2020
19299          70  14660.0             2         35.0         0.259            0.18             4         33.0         0.485            0.14  ...              0              0              0              0              0              0              0              0              0  2020
19300           9   4170.0             4         24.0         0.500            0.17             3         46.0         0.386            0.17  ...              0              0              0              0              0              0              0              0              0  2020
19301          14   1480.0             4         35.0         0.435            0.15             2         47.0         0.215            0.16  ...              0              0              0              0              0              0              0              0              0  2020
19302          11   2530.0             4         45.0         0.675            0.12             4         39.0         0.428            0.13  ...              0              0              0              0              0              0              0              0              0  2020

[19303 rows x 1239 columns]